/*fonts imported from https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*Overide default browser added styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic styling*/
body {
    min-height: 100vh;
    display: flex;
    font-family: 'lato', sans-serif;
    flex-direction: column;
    color: #000000;

}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #ffffff;
    font-size: 40px;
}

/*Header*/
header {
    background-image: url('../images/sky.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Padding prevents text sticking to the side of the screen and the z-index prevents overlap*/
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #ffffff;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}


header a {
    text-decoration: none;
    color: #ffffff;
}

#menu {
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 1em;
}

.select {
    border-bottom: 1px solid #ffffff;
}

/*Navbar styles with drop down menu*/
nav {
    Position: absolute;
    background-image: url('../images/sky.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 0 1px 1px #ffffff;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/*Activate nav bar drop down*/
#nav-bar:checked~nav {
    display: block;
}

/*Hides checkbox*/
#nav-bar {
    display: none;
}

.nav-bar-label {
    font-size: 1.9rem;
    color: #ffffff;
}

/*Main element*/
main {
    /*Standard property for main to take up max space and keep footer at the bottom of the page*/
    flex: 1 0 auto;
    margin-top: 60px;
   
}

/* Targets alignment in main text*/
#main-text {
    text-align: justify;
    margin: 7px 10px 10px 7px;
}

/*Hero Image*/
#hero {
    width: 100%;
    height: 700px;
    background: url('../images/IMG-20240626-WA0065.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*Target main images*/
.image-o {
    max-width: 200px;
    max-height: 250px;
    float: left;
    padding: 5px;
    border: 1px;
    border-radius: 30%;
}

h2 {
    font-size: 1em;
}

/* Footer*/
#social-media {
    text-align: center;
    list-style-type: none;
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    padding: 20 0;
}

#footer-content {
    background-image: url('../images/sky.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#social-media i {
    color: #ffffff;
}

/*targets copyright div*/
.copyright p {
    text-align: right;
    font-size: 75%;
    font-family: 'lato', sans-serif;
    color: #ffffff;
}

/*Gallery styles*/
/*Target unordered list and make images  not rigid*/
#ulgallery {
    display: flex;
    flex-wrap: wrap;
}

/*Targets image container and makes automaitc change in image size with change in screen size*/
.ligallery {
    height: 38vh;
    flex-grow: 1;
    list-style-type: none;
}

.imggallery {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* Styles for thank you page*/
/* styles.css */
.thanks {
    background-color: #faf8f8;
    padding: 21px;
    border-radius: 9px;
    text-align: center;
}
.h2thanks {
    color: #131212;
    font-size: 23px;
    text-transform: uppercase;
}
.pthanks {
    color: #3d3a3a;
    font-size: 18px;
}

/* General form styling*/
.form-contain {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #F0F8FF;
    border-radius: 10%;
    background-color: #F0F8FF;

/*Media quer for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu li {
        margin: 10px;
    }

    .nav-bar-label {
        display: none;
    }

    #banner {
        font-size: 300%;
        line-height: 80px;
    }

    /*increase visibility of main element as header increases with change in screen size*/
    main {
        margin-top: 78px;
    }
}

/*Larger devices (laptops and desktops 992px +)*/
@media screen and (min-width:992px) {
    #menu a:hover {
        border: 1px solid #ffffff;
    }

    /*Target main images*/
    .image-o {
        max-width: 200px;
        max-height: 170px;
        float: left;
        padding: 5px;
        border: 1px;
        border-radius: 50%;
    }
}