/*fonts imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*Overide default browser added styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic styling*/
body {
    min-height: 100vh;
    display: flex;
    font-family: 'lato', sans-serif;
    flex-direction: column;
    color: #000000;

}

h1 {
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    color: #000000;
    font-size: 40px;
}

/*Header*/
header {
    background-image: url('../images/vintage-grunge.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Padding prevents text sticking to the side of the screen and the z-index prevents overlap*/
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #000000;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}


header a {
    text-decoration: none;
    color: #000000;
}

#menu {
    text-decoration: none;
    color: #000000;
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 3px;
}

#menu>li {
    margin-bottom: 1em;
}

.select {
    border-bottom: 1px solid #000000;
}

/*Navbar styles with drop down menu*/
nav {
    Position: absolute;
    background-image: url('../images/vintage-grunge.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 0 1px 1px #000000;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/*Activate nav bar drop down*/
#nav-bar:checked~nav {
    display: block;
}

/*Hides checkbox*/
#nav-bar {
    display: none;
}

.nav-bar-label {
    font-size: 1.9rem;
    color: #000000;
}

/*Main element*/
main {
    /*Standard property for main to take up max space and keep footer at the bottom of the page*/
    flex: 1 0 auto;
    margin-top: 60px;
    background-image: url('../images/vintage-crumpled-paper-textured-background.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* Base styles for icons and padding gives space between footer*/
#icons {
    font-family: 'lato', sans-serif;
    padding-bottom: 15px;
}

/* .icon-container flexbox structure */
.icon-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Target each image block: summary vertically, center items horizontally and text inside the block */

.image-block {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Add space above the summary notes */
.image-block p {
    margin-top: 10px;
}

/* scales images to fit container and maintain the aspect ratio */
.image-block img {
    max-width: 50%;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
}

/*Targets Id about*/
#about {
    display: flex;
    flex-direction: column
}

/* Targets alignment in main text*/
.about-history {
    margin: 7px 10px 10px 7px;
    text-align: justify;
    color: #000000;
    margin-top: 10px;
}


/*Hero Image*/
#hero {
    width: 100%;
    height: 700px;
    background: url('../images/nko.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*Target main images*/
.image-o {
    max-width: 200px;
    max-height: 250px;
    float: left;
    padding: 5px;
    border: 1px;
    border-radius: 30%;
}

h2 {
    font-size: 1em;
}

/* Footer*/
#social-media {
    text-align: center;
    list-style-type: none;
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    padding: 20px 0;
}

#footer-content {
    background-image: url('../images/vintage-grunge.jpg');
    /* Additional styling to ensure the background image displays properly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#social-media i {
    color: #000000;
}

/*Targets article*/
article {
    margin-top: 5px;
    font-size: small;
}

/*targets copyright div*/
.copyright p {
    text-align: center;
    font-size: 80%;
    font-family: 'lato', sans-serif;
    color: #000000;
    font-weight: bold;
}

/*Gallery styles*/
/*Target unordered list and make images  not rigid*/
#unordered-l-gallery {
    display: flex;
    flex-wrap: wrap;
}

/*Targets image container and makes automaitc change in image size with change in screen size*/
.l-gallery {
    height: 38vh;
    flex-grow: 1;
    list-style-type: none;
}

.pic-gallery {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* Styles for thank you page*/
/* styles.css */
.thanks {
    padding: 21px;
    border-radius: 9px;
    text-align: center;
}

.heading-thanks {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.paragraph-thanks {
    color: #000000;
    font-size: 18px;
}

/* General form styling*/
.form-contain {
    max-width: 600px;
    padding: 22px;
    border: 1px solid #000000;
    margin: 120px auto;
    border-radius: 10%;
}

.form-heading {
    text-transform: uppercase;
    text-align: center;
}

/*Targets formbutoons */
.form-buttons {
    display: flex;
    margin: 10px;
    gap: 10px;
}

/*Media quer for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu li {
        margin: 10px;
    }

    .nav-bar-label {
        display: none;
    }

    #banner {
        font-size: 300%;
        line-height: 80px;
    }

    /*increase visibility of main element as header increases with change in screen size*/
    main {
        margin-top: 78px;
    }
}

/*Larger devices (laptops and desktops 992px +)*/
@media screen and (min-width:992px) {
    #menu a:hover {
        border: 1px solid #000000;
    }

    /*Target main images*/
    .image-o {
        max-width: 200px;
        max-height: 170px;
        float: left;
        padding: 5px;
        border: 1px;
        border-radius: 50%;
    }
}

/*Larger devices (laptops and desktops 992px +)*/
@media screen and (min-width:992px) {

    /*Targets gallery ul*/
    #unordered-l-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    /*Targets individual img and ensures fits in img list*/
    .pic-gallery {
        max-height: 100%;
        max-width: 95%;
    }

    .l-gallery {
        height: 39vh;
        flex-grow: 1;
        list-style-type: none;
    }
}

/* Media query for screens wider than 992px */
@media (min-width: 992px) {
    .icon-container {
        /* Place items side by side and evenly space them */
        flex-direction: row;
        justify-content: space-around;
    }

    /* Allow the blocks to grow and fill the space equally */
    .image-block {
        flex: 1;
    }
}

/*Targets screens above 325px*/
/*Larger devices (laptops and desktops 325px +)*/
@media screen and (min-width:325px) {

    .l-gallery {
        height: 10vh;

    }
}

/*Targets screens above 440px*/
/*Larger devices (laptops and desktops 440px +)*/
@media screen and (min-width:440px) {

    .l-gallery {
        height: 15vh;
    }
}

/*Targets screens above 555px*/
/*Larger devices (laptops and desktops 555px +)*/
@media screen and (min-width:555px) {

    .l-gallery {
        height: 25vh;
    }
}

/*Targets screens above 820px*/
/*Larger devices (laptops and desktops 820px +)*/
@media screen and (min-width:820px) {

    .l-gallery {
        height: 30vh;
    }
}